{% extends "mi03VitrineBundle::layout.html.twig" %}

{%  block content %}
    <div id="loginPage">
        <h1>Veuillez vous inscrire</h1>
        <div class=" loginContainer z-depth-1 grey lighten-4 row">
            {{ form(form) }}
            <div id="linkRegister">
                <a href="{{ path('mi03_vitrine_login') }}">Connectez-vous</a>
            </div>
        </div>
    </div>
    <script>
        $('#form div:has(button)').css('text-align', 'center');
    </script>
{% endblock %}
