{# src/miXX/VitrineBundle/Resources/views/Demo/hello.html.twig #}
{# override the body block from embedded.html.twig #}

{% block content %}

    <h3 class="center-align">{{ 'meilleurs_ventes'|trans }}</h3>



    <div class="carousel carousel-slider center">

        <div class="carousel-item red black-text" href="#one!">
            <img src="{{ asset('bundles/mi03vitrine/images/1.png') }}">
            <h2>iPhone XS</h2>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <img src="{{ asset('bundles/mi03vitrine/images/2.png') }}">
            <h2>Asus Zenbook 3 Deluxe</h2>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <img src="{{ asset('bundles/mi03vitrine/images/3.png') }}">
            <h2>Bose Soundlink Mini 2</h2>
        </div>
    </div>


    <script>
        // Or with jQuery

        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        });
    </script>





{% endblock %}



