{# src/miXX/VitrineBundle/Resources/views/Demo/hello.html.twig #}
{% extends "mi03VitrineBundle::layout.html.twig" %}
{# override the body block from embedded.html.twig #}
{% block content %}
    <h1>{{ 'catalogue'|trans }}</h1>

{% for item in categories  %}
    <div class="row">
        <a href="{{path('mi03_vitrine_articleParCategorie', {'id': item.id}) }}">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ item.intitule }}</span>
                    </div>

                </div>
            </div>
        </a>
    </div>

{% endfor %}

{% endblock %}
