{# src/miXX/VitrineBundle/Resources/views/Demo/hello.html.twig #}
{% extends "mi03VitrineBundle::layout.html.twig" %}
{# override the body block from embedded.html.twig #}
{% block content %}
    <h1>Bienvenue {{ name }}</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan lectus sed purus aliquet, a imperdiet urna ornare. Ut vehicula libero eget luctus dictum. Duis dapibus pulvinar dui eget venenatis. Nulla ut diam ornare felis aliquam elementum. Duis feugiat gravida tortor, non lacinia leo bibendum in. Ut nec arcu ac erat sagittis ornare. Morbi tincidunt, nibh sed eleifend lobortis, mi dolor egestas tellus, eget ullamcorper sapien nulla vel libero.

        Proin eu scelerisque elit. Ut arcu massa, euismod ut magna eu, dignissim tempor sapien. Nulla facilisi. Mauris id lectus volutpat, aliquam mi ac, lobortis neque. Nulla dui tellus, semper et gravida et, volutpat at nibh. Maecenas lobortis, quam sit amet porta tempor, leo nibh efficitur velit, sit amet pulvinar lectus augue ullamcorper risus. Donec hendrerit nec tellus at viverra. Donec sit amet orci eget ante tincidunt convallis at sit amet dui. Mauris euismod ex nec fermentum venenatis. </p>
{% endblock %}

